body {
	background-color: lightyellow;
}

img {
	width: 400px;
	border: 10px dotted pink;
}

h1 {
	color: pink;
	text-decoration-line: overline underline;
  text-decoration-color: purple;
	text-decoration-style: dotted;
	font-size: 40px
}

ul {
	list-style-type: none;
	background-color: lightpink;
	width: 200px;
}

li a {
	display: block;
	text-decoration: none;
	color: purple;
	padding: 8px 10px;
}
body {
	background-color: lightyellow;
}

img {
	width: 400px;
	border: 10px dotted pink;
}

h1 {
	color: pink;
	text-decoration-line: overline underline;
  text-decoration-color: purple;
	text-decoration-style: dotted;
	font-size: 40px
}

ul {
	list-style-type: none;
	background-color: lightpink;
	width: 200px;
}

li a {
	display: block;
	text-decoration: none;
	color: purple;
	padding: 8px 10px;
}


